format = """
[](#9A348E)\
$os\
$username\
[](bg:#DA627D fg:#9A348E)\
$directory\
[](fg:#DA627D bg:#FCA17D)\
$git_branch\
$git_status\
[](fg:#FCA17D bg:#86BBD8)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#86BBD8 bg:#06969A)\
$docker_context\
[](fg:#06969A bg:#33658A)\
$time\
[ ](fg:#33658A)\
$character\
"""

add_newline = false

[username]
show_always = true
style_user = "bg:#9A348E"
style_root = "bg:#9A348E"
format = '[$user ]($style)'

[directory]
style = "bg:#DA627D"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:#FCA17D"
format = '[[ $symbol $branch ](fg:#212121 bg:#FCA17D)]($style)'

[git_status]
style = "bg:#FCA17D"
format = '[[($all_status$ahead_behind )](fg:#212121 bg:#FCA17D)]($style)'

[nodejs]
symbol = ""
style = "bg:#86BBD8"
format = '[[ $symbol ($version) ](fg:#212121 bg:#86BBD8)]($style)'

[golang]
symbol = ""
style = "bg:#86BBD8"
format = '[[ $symbol ($version) ](fg:#212121 bg:#86BBD8)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#33658A"
format = '[[  $time ](fg:#212121 bg:#33658A)]($style)'

[character]
disabled = false
success_symbol = '[❯](bold green)'
error_symbol = '[❯](bold red)'

vimcmd_symbol = '[❮](bold #F7A8B8)' 
vimcmd_visual_symbol = '[V](bold #458588)'
vimcmd_replace_symbol = '[R](bold #D3869B)'
vimcmd_replace_one_symbol = '[r](bold #D3869B)'
