---
- name: install standard software
  hosts: new_installation
  become: yes

  vars:
    rpmfusion_free: "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
    rpmfusion_nonfree: "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"

    apps:
      - blender
      - feh
      - ffmpeg
      - firefox
      - gammastep
      - gammastep-indicator
      - gimp
      - keepassxc
      - libreoffice
      - qimgv
      - speedcrunch
      - telegram-desktop
      - thunderbird
      - transmission-daemon
      - vlc
      - zathura
      - zathura-djvu
      - zathura-pdf-mupdf

    fcitx5:
      - fcitx5
      - fcitx5-chinese-addons
      - fcitx5-chinese-addons-data
      - fcitx5-configtool
      - fcitx5-gtk
      - fcitx5-qt
      - fcitx5-qt6
      - fcitx5-table-extra

    system_tools:
      - acpi
      - acpid
      - alacritty
      - android-file-transfer
      - btrfs-progs
      - colordiff
      - cronie
      - cups
      - dictd-server
      - gcc
      - gvfs-mtp
      - jmtpfs
      - libmtp
      - make
      - pipewire
      - pulseaudio-utils
      - python3-dnf
      - qt5-qtgraphicaleffects
      - qt5-qtquickcontrols2
      - qt5-qtsvg
      - qt6-qt5compat
      - qt6-qtquickcontrols2
      - qt6-qtshadertools
      - qt6-qtsvg
      - sddm
      - sddm-themes
      - snapd
      - system-config-printer
      - tar
      - whois
      - zoxide

    tools:
      - 7zip
      - adwaita-icon-theme
      - ansible
      - aria2
      - bind-utils
      - brightnessctl
      - calibre
      - dunst
      - fd-find
      - ffmpegthumbnailer
      - fuse-zip
      - git
      - golang
      - glances
      - highlight
      - iftop
      - ImageMagick
      - iotop
      - jq
      - kubernetes
      - light
      - luarocks
      - mycli
      - neovim
      - ncdu
      - pavucontrol
      - pgcli
      - pipx
      - poppler-utils
      - procps-ng
      - pulseaudio-utils
      - ripgrep
      - unrar
      - unzip
      - vifm
      - vim-enhanced
      - wl-clipboard
      - zsh
      - zsh-autosuggestions
      - zsh-syntax-highlighting

  tasks:
    - name: silence root bashrc for Ansible
      ansible.builtin.lineinfile:
        path: /root/.bashrc
        line: "[[ $- != *i* ]] && return"
        insertbefore: BOF
        create: yes
      become: yes

    - name: install RPM Fusion Free
      ansible.builtin.dnf5:
        name: "{{ rpmfusion_free }}"
        state: present
        disable_gpg_check: yes
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: install RPM Fusion Non-Free
      ansible.builtin.dnf5:
        name: "{{ rpmfusion_nonfree }}"
        state: present
        disable_gpg_check: yes
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: enable Fedora Workstation repos
      ansible.builtin.dnf5:
        name: fedora-workstation-repositories
        state: present
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: update all packages to latest version
      ansible.builtin.dnf5:
        name: "*"
        state: latest
        update_only: yes
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: install system_tools
      ansible.builtin.dnf5:
        name: "{{ system_tools }}"
        state: present
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: install tools
      ansible.builtin.dnf5:
        name: "{{ tools }}"
        state: present
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: install apps
      ansible.builtin.dnf5:
        name: "{{ apps }}"
        state: present
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888

    - name: install Fcitx5
      ansible.builtin.dnf5:
        name: "{{ fcitx5 }}"
        state: present
      environment:
        http_proxy: http://127.0.0.1:8888
        https_proxy: http://127.0.0.1:8888
